[submodule "cmake/cmakeBuildTools"]
	path = cmake/cmakeBuildTools
	url = https://github.com/mensinda/cmakeBuildTools.git
[submodule "external/plf_colony"]
	path = external/plf_colony
	url = https://github.com/mattreecebentley/plf_colony
[submodule "external/liblibwireshark"]
	path = external/liblibwireshark
	url = https://github.com/epl-viz/liblibwireshark.git
[submodule "external/resources"]
	path = external/resources
	url = https://github.com/epl-viz/resources.git
[submodule "external/catch"]
	path = external/catch
	url = https://github.com/philsquared/Catch.git
[submodule "external/FakeIt"]
	path = external/FakeIt
	url = https://github.com/eranpeer/FakeIt.git
